.fade-in, .fade-out {
    transition: opacity 1s ease;
}

.fade-in {
    opacity:1 !important;
}

.fade-out {
    opacity:0 !important;
}


.show, .hide {
    transition: display;
}

.pop-in {
    display: block;
}

.pop-out {
    display: none;
}