/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
}


h1, h2, h3 {
  margin-top: .6em;
  margin-bottom: .6em;
}


h2 {
  text-transform: uppercase;
  font-size: 3em;
  text-shadow: 0 0 6px $light-grey;
}


h3 {
  color: $text-color;
  font-size: 1.5em;
}
