.uppercase {
    text-transform: uppercase;
}

.red {
    color: $red;
}

.italic {
    font-style: italic;
}

.lightweight {
    font-weight: 100;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}