.topline {
    @include flexy( 
        $dir: row,
        $justify: center,
        $align: center,
    );

    @include mediaQuery(large) {
        justify-content: space-between;
        flex-grow: 1;
    }
    
}

.left, .right {
    color: $cream;
    font-size: 1.25em;
    margin-top: .5em;
}

.right {
    display: none;

    @include mediaQuery(large) {
        display: block;
    }
}