.modal  {
    h1 {
        font-size: 1em
    }
    width: 90%;
    padding: 1em;

    @include mediaQuery(large) {
        padding: 2.5em;
        h1 {
            font-size: 2em;
            margin-top: 0;
        }
    }
}


.image-select .modal{
    max-height: calc(100vh - 50px);
}
