.modal  {
    h1 {
        font-size: 1.5em
    }
    width: 90%;
    padding: 1em;

    @include mediaQuery(large) {
        padding: 2.5em;
        h1 {
            font-size: 2em;
            margin-top: 0;
        }
    }
}
