

// Main page sections
.section {
    background-color: $cream;
    border: solid 1px $light-grey;
    box-shadow: 0 0 20px $black;
    margin: 1.5em 0;
    padding: 1px;
    text-align: center;
  }
  
  // Main page sections
  .section__page {
    margin: 3% 0;
    padding: 1em;
  }