.slider {

}

.slider__image {
    width: 100%;
    padding-right: 0.7em;
    padding-bottom: 0;
    padding-left: 0.7em;
    padding-top: 0.7em;
}

.slider__text {
    color: $red;
    margin: .7em;
    text-align: center;
}