.slider {
    position: relative;
    height: 220px;

    @include mediaQuery(large) {
        padding: 0.75em;
        height: 650px;
    }
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    height: 220px;

    @include mediaQuery(large) {
        height: auto;
    }
}

.slider__image {
    height: 180px;
    position: relative;
    width: 100%;
    padding-right: 0.7em;
    padding-bottom: 0.7em;
    padding-left: 0.7em;
    padding-top: 0.7em;

    img {
        height: 100%;
    }

    @include mediaQuery(large) {
        height: 650px;
    }
}

.slider__text {
    position: absolute;
    color: $red;
    text-align: center;
    background-color: $cream;
    z-index: auto;
    font-size: 1em;
    width: 100%;
    left:0;
    font-size: 0.75em;
    margin: auto;
    padding: 0.5em;
    bottom: 0;

    @include mediaQuery(large) {
       position: absolute;
       bottom: 4em;
       padding-top: 1%;
       padding-bottom: 1%;
       font-size: 1em;
    }
}
