.slider {
    position: relative;

    @include mediaQuery(large) {
        padding: 0.75em;
        }
}

.slider__image {
    position: relative;
    width: 100%;
    padding-right: 0.7em;
    padding-bottom: 0.7em;
    padding-left: 0.7em;
    padding-top: 0.7em;
}

.slider__text {
    position: relative;
    color: $red;
    text-align: center;
    background-color: $cream;
    z-index: auto;
    font-size: 1em;
    width: 100%;
    left:0;
    font-size: 0.75em;
    margin: auto;
    padding: 0.5em;

    @include mediaQuery(large) {
       position: absolute;
       bottom: 4em;
       padding-top: 1%;
       padding-bottom: 1%;
       font-size: 1em;
       width: auto;
    }
}
