.topline {
    @include flexy(
        $dir: row,
        $justify: center,
        $align: center,
    );

    @include mediaQuery(large) {
        justify-content: space-between;
        flex-grow: 1;
    }

}

.topline__left, .topline__right {
    color: $cream;
    font-size: 1.25em;
    margin-top: .5em;
}

.topline__left {
    text-align: center;

    @include mediaQuery(large) {
        text-align: left;
    }
}

.topline__right {
    display: none;

    @include mediaQuery(large) {
        display: block;
    }
}
