// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


/// Regular font family
/// @type List
$text-font-stack: 'Secular One','Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

$admin-font-stack: 'Segoe UI','Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;


/// Copy text color
/// @type Color
$text-color: #283640;

/// Main brand color
/// @type Color
$brand-color: rgb(229, 0, 80) !default;

/// Light grey
/// @type Color
$light-grey: rgb(237, 237, 237) !default;

/// Medium grey
/// @type Color
$mid-grey: rgb(153, 153, 153) !default;

/// Dark grey
/// @type Color
$dark-grey: #383838;


// Colors
$dark-blue: #435765;
$red: #B24240;
$lime-green: #B0CF00;
$black: #12181C;
$light-grey: #707070;
$cream: #F4F6F3;
$facebook-blue: #102C98;
$yellow: #EFF2A1;
$black: #283640;



/// Container's maximum width
/// @type Length
$max-width: 1280px !default;




// Breakpoints map
$breakpoints: (
	'x-small': 575px,
	'small': 576px,
	'medium': 768px,
	'large': 992px,
);






/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
