// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.footer {
    background-color: $dark-grey;
    border-top: 1px solid $light-grey;
 }

 .footer__container {
    max-width: 90%;
    margin: auto;
    margin-top: 1em;
    padding-bottom: 1.5em;

    @include flexy( 
      $dir: row,
      $justify: center,
      $align: center,
  );

  @include mediaQuery(large) {
      justify-content: space-between;
   }
 }


 .footer__address {
    color: $cream;
    text-align: center;

    span {
        display: block;
    }

    @include mediaQuery(large) {
      text-align: right;
   }
 }


 .social-icons{
    font-size: 3em;
    color: darkblue;
 }