// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------


.main-header {
   background-color: $cream;
   border-bottom: 1px solid $light-grey;
   box-shadow: 0 20 20px $black;
   padding-top: 1em;
   padding-right: 1em;
   padding-left: 1em;

   @include mediaQuery(large) {
      max-width: $max-width;
      margin-left: auto; /* 2 */
      margin-right: auto; /* 2 */
      padding-left: 20px; /* 3 */
      padding-right: 20px; /* 3 */
      width: 100%; /* 1 */
  }
}

.main-header__logo {
   margin-right: auto;
   img {
      width: 80%;

      @include mediaQuery(large) {
        margin: auto;
    }

   }

   @include mediaQuery(large) {
        margin: auto;
    }
}

.main-header__tagline {
    display: block;
    color: $black;
    opacity: 0.8;
    font-size: 13px;
    margin-top: 0;
    margin-left: 0;

    @include mediaQuery(large) {
        margin: auto;
        text-align: center;
    }
}

.main-header__top{
   margin-bottom: 1em;

   @include flexy(
      $dir: row,
      $justify: space-between
  );

    align-items: center;
}

.main-header__navigation{
   max-height: 0;
   overflow-y: hidden;
   transition: max-height 0.5s ease-in-out;
   text-align: center;

   @include mediaQuery(large) {
        max-height: 10em;
    }

   ul {
      margin-top: .5em;
      list-style-type: none;
      padding: 5px 0;
   }
   li {
      margin: 5px 0;
      background-color: $dark-blue;
      transition: background-color .5s;
      transition-timing-function: ease-in-out;
      @include on-event {
         background-color: $red;
       }

       @include mediaQuery(large) {
            background-color: transparent;

            @include on-event {
                background-color: transparent;
            }
       }
   }
   li a {
        padding: 0.25em 0;
        display: block;
        color: $cream;
        text-transform: uppercase;
        transition: font-size .5s;
        transition-timing-function: ease-in-out;

        @include mediaQuery(large) {
            color: $dark-blue;
            font-size: 1.5em;

            @include on-event {
                color: $red;
            }
       }
   }
}

.main-header__navigation-visible {
   max-height: 10em;
}

.main-nav__links {

    @include mediaQuery(large) {
        border-top: dotted $red 4px;
        border-bottom: dotted $red 4px;

        @include flexy(
            $dir: row,
            $justify: space-evenly
        );
    }

}


#menuToggle {
    @include mediaQuery(large) {
        display: none;
    }

}

