/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
}


h1, h2, h3 {
  margin-top: .6em;
  margin-bottom: .6em;
  color: $text-color;

}

h1 {
    font-size: 3em;
  }


h2 {
  font-size: 2em;
}


h3 {
  font-size: 1.5em;
}

p {
  font-size: 20px;
}

.p-small {
    color: $text-color;
    font-size: 0.7em;
  }

