.card {
    @apply bg-white rounded overflow-hidden shadow-lg;
    margin-top: 1em;
    margin-bottom: 1em;

    .card-header {
        @apply font-bold text-xl mb-2;
    }

    .card-content {
        @apply px-6 py-4;
        margin-left: auto;
        margin-right: auto;
    }

}


.card-group .card {
    flex: 1 1 0%;
    min-width: 30%;
    max-width: 100%;

    @include mediaQuery(medium) {
        margin-right: 0.75em;
        margin-left: 0.75em;
    }

}